/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/public
/storage/debugbar
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/logs

.env
.env.backup
.env.production

.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
auth.json

npm-debug.log
yarn-error.log
pnpm-debug.log

.DS_Store
Thumbs.db

.idea
.vscode
*.sublime-project
*.sublime-workspace

coverage
