# Node.js dependencies
/node_modules
/npm-debug.log
/yarn-error.log
/pnpm-debug.log

# Laravel dependencies
/vendor
/public/hot
/public/storage
/storage/*.key
/storage/app/public
/storage/debugbar
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/logs

# Environment
.env
.env.backup
.env.production

# PHPUnit / testing
.phpunit.result.cache
.phpunit.cache
coverage

# Homestead / Vagrant
Homestead.json
Homestead.yaml
auth.json

# OS / editor files
.DS_Store
Thumbs.db
.idea
.vscode
*.sublime-project
*.sublime-workspace
